body{
    background: slategray;
    text-align: center;

    
}

.container {
    position: relative;
}
  
h1 {
    color: white;
    background: black;
    position: relative;
    z-index: 1;
    margin: 15px 350px 5px 350px;
   border: 2px  solid black;
}
  
p {
    position: center;
    top: 100%; /* umístí odstavec přesně pod h1 */
    line-height: 22px;
}

.profile{
    padding-top: -25px;
    margin-left: -300px;
}

h5{
    margin-left: -25px;
}

.data{
    margin-left: 20px;
}

.tea{
    margin-left: 60px;
}

.info{
    margin: 100px 25%;
}